ul {
    list-style: none;
    padding: 0;
}

p {
    color: #444;
}

button:focus {
    outline: 0;
}

.container-voice {
    max-width: 700px;
    margin: 0 auto;
    padding: 100px 50px;
    text-align: center;
} 

 .container-voice h1 {
    margin-bottom: 20px;
} 

.page-description {
    font-size: 1.1rem;
    margin: 0 auto;
}

.tz-link {
    font-size: 1em;
    color: #1da7da;
    text-decoration: none;
}

.no-browser-support {
    display: none;
    font-size: 1.2rem;
    color: #e64427;
    margin-top: 35px;
}

.app {
    margin: 40px auto;
}

#note-textarea {
    margin: 20px 0;
}

#recording-instructions {
    margin: 15px auto 60px;
}

#notes {
    padding-top: 20px;
}

.note .header {
    font-size: 0.9em;
    color: #888;
    margin-bottom: 10px;
}

.note .delete-note,
.note .listen-note {
    text-decoration: none;
    margin-left: 15px;
}

.note .content {
    margin-bottom: 40px;
}

@media (max-width: 768px) {
    .container {
        padding: 50px 25px;
    }

    button {
        margin-bottom: 10px;
    }

}   



/* -- Demo ads -- */

@media (max-width: 1200px) {
    #bsaHolder{ display:none;}
}

@keyframes shake {
	10%, 90% {
	  transform: translate3d(-1px, 0, 0);
	}
	20%, 80% {
	  transform: translate3d(2px, 0, 0);
	}
	30%, 50%, 70% {
	  transform: translate3d(-4px, 0, 0);
	}
	40%, 60% {
	  transform: translate3d(4px, 0, 0);
	}
}

.feature-widget {
    position: fixed;
    bottom: 0.5vh;
    right: 2vh;
    font-family: "Roboto Condensed", sans-serif;
    z-index: 1001;
    max-width: 500px;
}

.feature-widget .feature-icon {
    cursor: pointer;
    text-align: right;
    animation: shake 0.82s cubic-bezier(0.36,0.07,0.19,0.97) both infinite;
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 1000px;
}

.feature-widget img {
    max-width: 100px;
    text-align: right;
}

blockquote.bubble { 
    background-position: center;
    background-repeat: no-repeat !important;
    background-size: 100% 100%;
    margin: 0 auto;
    text-align: center;
    box-sizing: content-box;
    line-height: 1;
}
blockquote.electric {
    background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/4273/electric.svg); 
    font-size: 1.5em;
    font-style: italic;
    padding: 35px 45px 35px 4px;
    color: #f37121;
    width: 140px;
}